In [1]:
import pandas as pd

In [3]:
df = pd.read_excel("../input/FOIA-MWOT_final.xlsx")

In [7]:
df

,Filing Date,Employer,Status,TotalAmountClaimed
0,2022-10-03,Big star transit,Open,0.0
1,2022-10-03,Parker Cromwell (Home and Hearth Caregivers),Open,4.0
2,2022-10-02,Charlie’s Doghouse Inc.,Open,0.0
3,2022-10-02,MUDZI INC,Open,53.5
4,2022-10-02,MUDZI INC,Open,35.0
...,...,...,...,...
3391,2017-01-05,Casting House,Paid,0.0
3392,2017-01-05,R Vari & Associates LLC,Paid,0.0
3393,2017-01-05,Twin Cleaning Professional,Dismissed,0.0
3394,2017-01-05,MnAlan Trucking Corp,Dismissed,0.0
3395,2017-01-05,Rock Island Economic Growth Corporation,Dismissed,0.0